.login-input-div {
  display: flex;
  flex-direction: column;
}

.login-input {
  border-color: transparent;
  border-bottom: 2px gray solid;
  background-color: rgb(244, 243, 243);
  padding: 8px 3px;
  outline: none;
}

.login-input:focus {
  border-bottom: 2px black solid;
}

.login-div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 2vh;
}

.login-submit-button {
  background-color: #2575fc;
  color: white;
  margin-top: 1vh;
}

.login-submit-text {
  font-size: 20px;
  margin: 0;
}
